# Environment `development`, `test`, or `production`
RAILS_ENV=development
MYSQL_ROOT_PASSWORD=root
MYSQL_USER=geoblacklight_user
MYSQL_PASSWORD=anexamplepassword
MYSQL_DB=geoblacklight_local_db
MYSQL_HOST=geoblacklight_db
MYSQL_PORT=3306:3306
SOLR_URL=http://geoblacklight_solr:8983/solr/blacklight-core