<% # main container for facets/limits menu -%>
<% if has_facet_values?  %>
    <div class="facets__rail">
      <button class="btn-show-facets" type="button"><span class="angle-double-right"></span><span class="btn-show-facets__label"><%= t('blacklight.search.facets.title') %></span></button>
      <h2 class="facets__heading">
        <%= t('blacklight.search.facets.custom_title') %>
      </h2>
      <button class="btn-hide-facets" type="button"><span class="sr-only">Close</span><span class="angle-double-left"></span></button>
      <div class="toggle-wrapper">
		    <button class="toggle-all-facets" type="button">
          <span class="expand-text">Expand All <span class="fa fa-caret-down"></span></span>
          <span class="collapse-text">Collapse All <span class="fa fa-caret-up"></span></span>
        </button>
	    </div>
      <div id="facets" class="facets__container">
        <div id="facet-panel-collapse" class="panel-group">
          <% facet_group_names.each do |groupname| %>
            <%= render 'facet_group', groupname: groupname %>
          <% end %>
        </div>
      </div>
    </div>
<% end %>