<% if document.item_viewer.index_map %>
<div class='row'>
  <!-- IF CLICKABLE DATA/INDEX MAP AVAILABLE, ADD THIS -->
  <div class="index-map__directions">
    Click map to explore index
    <span>
      <svg width="16px" height="18px" viewBox="0 0 16 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>Pointer finger</title>
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g transform="translate(-503.000000, -808.000000)" fill="#0579B8" fill-rule="nonzero">
                <g transform="translate(293.000000, 805.000000)">
                    <g id="hand-pointer" transform="translate(210.000000, 3.000000)">
                        <path d="M16,8.4375 L16,11.8125 C16,11.9209219 15.9872857,12.0290273 15.9620357,12.1346016 L14.8191787,16.9158516 C14.6673572,17.5510547 14.0915001,18 13.4285716,18 L6,18 C5.54294795,18 5.11348956,17.7847161 4.8446437,17.4208711 L0.273322623,11.2333711 C-0.190713056,10.6052695 -0.0496416381,9.72576563 0.588394028,9.26898047 C1.22650112,8.81216016 2.11996534,8.9510625 2.58400102,9.57916406 L3.71428665,11.1090938 L3.71428665,1.40625 C3.71428665,0.629613281 4.35385803,0 5.14285797,0 C5.93185791,0 6.57142929,0.629613281 6.57142929,1.40625 L6.57142929,8.4375 L6.85714355,8.4375 L6.85714355,7.03125 C6.85714355,6.25461328 7.49671493,5.625 8.28571487,5.625 C9.07471481,5.625 9.71428619,6.25461328 9.71428619,7.03125 L9.71428619,8.4375 L10,8.4375 L10,7.59375 C10,6.81711328 10.6395718,6.1875 11.4285718,6.1875 C12.2175717,6.1875 12.8571431,6.81711328 12.8571431,7.59375 L12.8571431,8.4375 L13.1428574,8.4375 C13.1428574,7.66086328 13.7824287,7.03125 14.5714287,7.03125 C15.3604286,7.03125 16,7.66086328 16,8.4375 Z" id="Shape"></path>
                    </g>
                </g>
            </g>
        </g>
    </svg>
    </span>
  </div>

  <div class='viewer-information col-sm-12'>
  </div>
</div>
<% end %>
