<% if document.item_viewer.index_map %>
<div class='row'>
  <div class="index-map__directions">
    Click map to explore index
    <span>
      <%= render :partial => 'svg/pointer-finger' %>
    </span>
  </div>

  <div class='viewer-information col-sm-12'>
  </div>
</div>
<% end %>
