// closed
.index-map__directions {
  padding-top:10px;
  padding-left: 20px;
  color: $c-theme-blue;
  font-family: $f-trueno;
  font-size: 15px;
  position: absolute;

  svg {
    position: relative;
    top: -4px;
    left: 2px;
  }
}


// open
.viewer-information.col-sm-12 {
  .index-map-info {
    background: $background-gray;
    margin-top: 0px;
    padding: 30px 10px 10px 10px;

    // element layout
    .document-metadata.dl-invert.row {
      float: none;
      width: auto;
      padding: 0;
      grid-column-start: 2;

      @media($bp-large-max){
        display: block;
      }
    }
    .index-map__table {
      display: grid;
      grid-template-columns: auto auto;

      @media($bp-small-max) {
        display: block;
      }
    }
    .index-map__thumbnail {
      display: inline-block;
      width: 200px;
      margin-right: 20px;
      margin-bottom: 20px;
    }
    .index-map__title {
      font-weight: 700;
      color: $c-font-subtle;
    }
    .index-map__request {
      grid-column-start: 2;
      padding: 0;
    }

    // table styles
    dl.document-metadata {
      dt, dd {
        border-bottom: none;
        padding: 0 0 30px 0;

        &:last-of-type {
          padding-bottom: 0;
        }
      }
      dt {
      	color: $c-font-subtle;
      	font-size: 15px;
        border-bottom: none;
        margin-right: 20px;

        @media($bp-large-max) {
          padding-bottom: 0;
        }
      }
      .hl__button--small {
        width: 350px;
        text-align: center;
      }
    }

    // request button
    .hl__button--small:hover, .hl__button--small:focus {
      color: $c-white;
    }

    // close button
    .index-map__close {
      text-align: right;
      padding: 0 20px 20px 20px;

      &--btn {
        background: transparent;
        &::after {
          border-left: 0.425em solid transparent;
          border-bottom: 0.5em solid currentColor;
          border-right: 0.425em solid transparent;
        }
      }
    }
  }
}



// tables
.row #table-container {
  overflow: unset;
  max-height: 100%;
  font-size: 15px;

  .table th,
  .table td {
    padding: 0.5em;
  }
}
