#map {
  &.leaflet-container {
    font-family: $f-trueno;

    a {
      color: $c-theme-blue;
      font-size: 15px;
      font-weight: normal;
    }
  }

  .leaflet-control.opacity-control .opacity-bottom {
    background-color: $c-theme-blue;
  }

  .sleep-note {
    text-transform: uppercase;
  }
}
